
---

title:      {{data.metadata.title}}
url:        {{data.metadata.url}}
author:     {{data.metadata.author_name}} ({{data.metadata.author_id}})
publish_date:  {{data.metadata.publish_date}}
fetch_date: {{data.metadata.fetch_date}}
count:      约 {{data.metadata.count}} 字

version:    {{data.metadata.version}}

---


# {{data.metadata.title}}

## 正文:

{{data.content}}



　　

------------------

from: [{{data.metadata.url}}]()
