<!DOCTYPE html>
<html lang="zh-CN">


<head>
  <link href="/static/bootstrap.css" rel="stylesheet">
  <link href="/static/flat-ui.css" rel="stylesheet">
  <script src="static/react.js"></script>
  <script src="static/react-dom.js"></script>
  <script src="static/browser.min.js"></script>
  <script src="static/jquery-1.9.1.min.js"></script>
  <script src="static/marked.js"></script>
  {% if title %}
  <title>{{title}} - microblog</title>
  {% else %}
  <title>Welcome to microblog</title>
  {% endif %}
</head>
<body>








<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">https://www.zhihu.com/question/49472945/answer/116846451</div>
    <div class="col-md-8">
      <div class="page-header">
        <h3>
          The North Remembers <small>History Timeline of Zhihu</small>
        </h3>
      </div>
    </div>
    <div class="col-md-2">.col-md-1</div>
  </div>
  <div class="row">
    <div class="col-md-2">
      tests answerid<br>
      116846451 game translate<br>
      91921682  indian<br>
      21967185  railway<br>
      57701501  shitizon<br>
    </div>
    <div class="col-md-8" id="zhihu-input-container">
    </div>
    <div class="col-md-2">.col-md-2</div>
  </div>
  <div class="row">
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-8" id="zhihu-result-container">

    </div>
    <div class="col-md-2">
    test buttons
    </div>
  </div>


  <div class="row">

    <div class="col-md-4">.col-md-4<br>
          <div class="panel panel-default panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
              Panel content
              <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 25%;"></div>
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 25%;"></a>
              </div>
            </div>
          </div>


    </div>
    <div class="col-md-4">.col-md-4<br>
          <div class="btn-group open">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Default <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li>
                <a>min voteup

                </a>
              </li>
            </ul>
          </div>


    </div>

    <div class="col-md-4">.col-md-4
          <div class="btn-group closed">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Default <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
    </div>



  </div>
</div>

















<script type="text/babel">

let ZhihuInputSingle = React.createClass({

  handleClick: function() {
    let answer_id = this.refs.ZhihuInputText.value
    console.log(answer_id)
    let url = "http://127.0.0.1:5000/answer/" + answer_id;
    ReactDOM.render(
      <ZhihuAnswerPage promise={$.getJSON(url)} />,
      document.getElementById('zhihu-result-container')
    )
  },
  render: function() {
    return (<div className="input-group input-group-lg">
              <input type="text"
                     ref="ZhihuInputText"
                     placeholder="回答URL ID"
                     id="zhihu-input-text"
                     className="form-control" />
              <span className="input-group-btn">
                <button onClick={this.handleClick}
                        type="button"
                        className="btn btn-default"
                        id="zhihu-input-button">
                  Watch
                </button>
              </span>
            </div>)}
})



let ZhihuInputMultiple = React.createClass({

  handleClick: function() {
    let author_id = this.refs.ZhihuInputText.value
    console.log(author_id)
    let url = "http://127.0.0.1:5000/author/" + author_id + "?limit=5";
    ReactDOM.render(
      <ZhihuAnswerList promise={$.getJSON(url)} />,
      document.getElementById('zhihu-result-container')
    )
  },
  render: function() {
    return (<div className="input-group input-group-lg">
              <input type="text"
                     ref="ZhihuInputText"
                     placeholder="回答URL ID / 作者ID / 话题ID"
                     id="zhihu-input-text"
                     className="form-control" />
              <span className="input-group-btn">
                <button onClick={this.handleClick}
                        type="button"
                        className="btn btn-default"
                        id="zhihu-input-button">
                  Watch
                </button>
              </span>
            </div>)}
})





let ZhihuAnswerPage = React.createClass({
  getInitialState: function() {
    return {loading: true,
            error: null,
            data: null}
  },
  componentDidMount: function() {
    this.props.promise.then(
      value => this.setState({loading: false, data: value}),
      error => this.setState({loading: false, error: error})
    )
  },
  render: function() {
    if (this.state.loading) {
      return <span>Loading Answer...</span>;
    }
    else if (this.state.error !== null) {
      return <span>Error: {this.state.error.message}</span>;
    }
    else {
      let d = this.state.data
      let html = marked.parse(d.full_content)
      // html.removeChild
      return (<div className="media">
                <div className="media-body">
                  <h4 className="media-heading">
                    <a href={d.url}>
                      {d.title}
                    </a>
                  </h4>
                  <div dangerouslySetInnerHTML={ {__html: html} } />
                </div>
              </div>)
    }
  }
})




let ZhihuAnswerItem = React.createClass({
  render: function() {
    let d = this.props.data
    return (
      <div className="zhihu-answer list-group-item">
        <div className="div-left">
          checker
        </div>
        <div className="div-right">
          <p className="zhihu-answer-title">{d.title}</p>
          <p className="zhihu-answer-metadata small">{d.author_name}的回答 | {d.voteup_count} 赞 | {d.created_time}</p>
          <a className="zhihu-answer-url" href={d.url}>{d.url}</a>
        </div>
      </div>
    );
  }
});


let ZhihuAnswerList = React.createClass({
  getInitialState: function() {
    return {
      loading: true,
      error: null,
      data: null
    };
  },
  componentDidMount: function() {
    this.props.promise.then(
      value => this.setState({loading: false, data: value}),
      error => this.setState({loading: false, error: error})
      );
  },
  render: function() {
    if (this.state.loading) {
      return <span>Loading...</span>;
    }
    else if (this.state.error !== null) {
      return <span>Error: {this.state.error.message}</span>;
    }
    else {
      // var answers = this.state.data;
      let answers = this.state.data.map(function (answer, index) {
        return <ZhihuAnswerItem data={answer} />
      });
      return <div className="list-group">{answers}</div>
    }
  }
});


ReactDOM.render(
  <ZhihuInputSingle />,
  document.getElementById('zhihu-input-container')
);












</script>

</body>
</html>
