<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
  </style>
</head>

<body>

<h2>app</h2><hr>

<pre><code>
test data
zhihu zhuanlan id: c_186387023
</code></pre>
<div id="app">

  {{ message }}
  <el-input placeholder="请输入内容qid" v-model="zhuanlan_id" clearable ></el-input>
  <ul>
    <li v-for="item in zhihu_content">
        <el-link icon="el-icon-edit" type="primary" :href='item.url'>{{ item.tip }}</el-link>
    </li>
  </ul>
  <h3>Bitcoin Price Index</h3>
  <div v-for="currency in info" class="currency">
    {{ currency.description }}:
    <span class="lighten">
      <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
    </span>
  </div>
</div>



<h2>app-2</h2><hr>

<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
  <transition name="fade">
    <p v-if="seen">现在你看到我了</p>
  </transition>

  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
  <ol>
    <li v-for="(key, value) in dictObj">
      {{ key }} - {{value}}
    </li>
  </ol>
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">反转消息</button>
  <input v-model="message">
  <a v-bind:href="url">test url</a>

  <ol>
    <!-- 现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。 -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    ></todo-item>
  </ol>
</div>





<script>

Vue.component('todo-item', {
  // todo-item 组件现在接受一个
  // "prop"，类似于一个自定义特性。
  // 这个 prop 名为 todo。
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})

var app = new Vue({
  el: '#app',
  data () {
    return {info: null,
            zhihu_content: null,
            message: 'Hello Vue!',
            zhuanlan_id: null}
  },
  filters: {
    currencydecimal (value) { return value.toFixed(2) }
  },
  watch: {
    zhuanlan_id(new_id) {
      console.log(`new_zhuanlan_id ${new_id}`)
      axios.get(`http://localhost/api/zhihu/zhuanlan/${new_id}`)
           .then(response => (this.zhihu_content = response.data.data))
    }
  }
})

var app2 = new Vue({
  el: '#app-2',
  data: {
    message: '页面加载于 ' + new Date().toLocaleString(),
    url: 'http://12.1.1.1',
    seen: true,
    todos: [{ text: '学习 JavaScript' },
            { text: '学习 Vue' },
            { text: '整个牛项目' }],
    groceryList: [{ id: 0, text: '蔬菜' },
                  { id: 1, text: '奶酪' },
                  { id: 2, text: '随便其它什么人吃的东西' }],
    dictObj: {key1: 111, key2: 222, key3: 333}
  },
  methods: {
    reverseMessage: function(){
      this.message = this.message.split('').reverse().join('')
    }
  }
})


</script>

<hr>
<hr>
<hr>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">https://www.zhihu.com/question/49472945/answer/116846451</div>
    <div class="col-md-8">
      <div class="page-header">
        <h3>
          The North Remembers <small>History Timeline of Zhihu</small>
        </h3>
      </div>
    </div>
    <div class="col-md-2">.col-md-1</div>
  </div>
  <div class="row">
    <div class="col-md-2">
      tests answerid<br>
      116846451 game translate<br>
      91921682  indian<br>
      21967185  railway<br>
      57701501  shitizon<br>
    </div>
    <div class="col-md-8" id="zhihu-input-container">
    </div>
    <div class="col-md-2">.col-md-2</div>
  </div>
  <div class="row">
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-8" id="zhihu-result-container">

    </div>
    <div class="col-md-2">
    test buttons
    </div>
  </div>


  <div class="row">

    <div class="col-md-4">.col-md-4<br>
          <div class="panel panel-default panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
              Panel content
              <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-segment"></div>
                <div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 25%;"></div>
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 25%;"></a>
              </div>
            </div>
          </div>


    </div>
    <div class="col-md-4">.col-md-4<br>
          <div class="btn-group open">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Default <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li>
                <a>min voteup

                </a>
              </li>
            </ul>
          </div>


    </div>

    <div class="col-md-4">.col-md-4
          <div class="btn-group closed">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Default <span class="caret"></span></button>
            <ul role="menu" class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
    </div>



  </div>
</div>

















<script type="text/babel">

let ZhihuInputSingle = React.createClass({

  handleClick: function() {
    let answer_id = this.refs.ZhihuInputText.value
    console.log(answer_id)
    let url = "http://127.0.0.1:5000/answer/" + answer_id;
    ReactDOM.render(
      <ZhihuAnswerPage promise={$.getJSON(url)} />,
      document.getElementById('zhihu-result-container')
    )
  },
  render: function() {
    return (<div className="input-group input-group-lg">
              <input type="text"
                     ref="ZhihuInputText"
                     placeholder="回答URL ID"
                     id="zhihu-input-text"
                     className="form-control" />
              <span className="input-group-btn">
                <button onClick={this.handleClick}
                        type="button"
                        className="btn btn-default"
                        id="zhihu-input-button">
                  Watch
                </button>
              </span>
            </div>)}
})



let ZhihuInputMultiple = React.createClass({

  handleClick: function() {
    let author_id = this.refs.ZhihuInputText.value
    console.log(author_id)
    let url = "http://127.0.0.1:5000/author/" + author_id + "?limit=5";
    ReactDOM.render(
      <ZhihuAnswerList promise={$.getJSON(url)} />,
      document.getElementById('zhihu-result-container')
    )
  },
  render: function() {
    return (<div className="input-group input-group-lg">
              <input type="text"
                     ref="ZhihuInputText"
                     placeholder="回答URL ID / 作者ID / 话题ID"
                     id="zhihu-input-text"
                     className="form-control" />
              <span className="input-group-btn">
                <button onClick={this.handleClick}
                        type="button"
                        className="btn btn-default"
                        id="zhihu-input-button">
                  Watch
                </button>
              </span>
            </div>)}
})





let ZhihuAnswerPage = React.createClass({
  getInitialState: function() {
    return {loading: true,
            error: null,
            data: null}
  },
  componentDidMount: function() {
    this.props.promise.then(
      value => this.setState({loading: false, data: value}),
      error => this.setState({loading: false, error: error})
    )
  },
  render: function() {
    if (this.state.loading) {
      return <span>Loading Answer...</span>;
    }
    else if (this.state.error !== null) {
      return <span>Error: {this.state.error.message}</span>;
    }
    else {
      let d = this.state.data
      let html = marked.parse(d.full_content)
      // html.removeChild
      return (<div className="media">
                <div className="media-body">
                  <h4 className="media-heading">
                    <a href={d.url}>
                      {d.title}
                    </a>
                  </h4>
                  <div dangerouslySetInnerHTML={ {__html: html} } />
                </div>
              </div>)
    }
  }
})




let ZhihuAnswerItem = React.createClass({
  render: function() {
    let d = this.props.data
    return (
      <div className="zhihu-answer list-group-item">
        <div className="div-left">
          checker
        </div>
        <div className="div-right">
          <p className="zhihu-answer-title">{d.title}</p>
          <p className="zhihu-answer-metadata small">{d.author_name}的回答 | {d.voteup_count} 赞 | {d.created_time}</p>
          <a className="zhihu-answer-url" href={d.url}>{d.url}</a>
        </div>
      </div>
    );
  }
});


let ZhihuAnswerList = React.createClass({
  getInitialState: function() {
    return {
      loading: true,
      error: null,
      data: null
    };
  },
  componentDidMount: function() {
    this.props.promise.then(
      value => this.setState({loading: false, data: value}),
      error => this.setState({loading: false, error: error})
      );
  },
  render: function() {
    if (this.state.loading) {
      return <span>Loading...</span>;
    }
    else if (this.state.error !== null) {
      return <span>Error: {this.state.error.message}</span>;
    }
    else {
      // var answers = this.state.data;
      let answers = this.state.data.map(function (answer, index) {
        return <ZhihuAnswerItem data={answer} />
      });
      return <div className="list-group">{answers}</div>
    }
  }
});


ReactDOM.render(
  <ZhihuInputSingle />,
  document.getElementById('zhihu-input-container')
);












</script>

</body>
</html>
