<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./bootstrap.css">
  <title>Zhihumark</title>
</head>


<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Info</a></li>
        <li><a href="#">Config</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>



<div class="container">

<div class="row">


<div id="main" class="col-sm-8 col-md-offset-2">

<div id="title" class="page-header">
  <br>
  <br>
  <h1>Zhihumark <small>read zhihu in a diffrent way</small></h1>
</div>


<div class="input-group" id="serach-form">
  <input type="text" class="form-control input-lg" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-primary input-lg" type="button">  Fetch </button>
  </span>
</div>



<div id="result">
  <ul class="media-list">
    <li class="media">
      <h4>如何阅读历史书？ - 姬轩亦的回答 (赞同数 486)</h4>
      <p>不请自来，这个问题我觉得我相对有发言权。为什么呢？在知乎混，混的是个相对真诚和自我剖析，我读历史是在人生的低谷时期。所谓千秋邈矣，百战归来，知道自己的能力和所限，而一切...</p>
    </li>
    <li class="media">
      <h4>如何阅读历史书？ - 马伯庸的回答 (赞同数 1325)</h4>
      <p>为什么读史，是一个情怀问题。为了明得失，为了咨诹善道，为了有资于治道，为了八卦，为了让自己显得有文化等等。至于如何阅读历史书，我觉得这是一个技术问题。读史书是一项立体多维工程，不能孤立、割裂地去读，前后延展，牵涉极多。想读汉代历史，先秦史不得不有所涉猎；想研究三国，前面...</p>
    </li>
    <li class="media">
      <h4>瑞士为何能在一战二战期间安然无恙？ - 纪昭的回答 (赞同数 124)</h4>
      <p>13\. 12 答案末尾有更新。 虽然瑞士在外人眼中的态度看起来一个固执的老头，口袋里有钱还死死抓着他的中立身份不放手。就连加入个联合国和WTO都端着...</p>
    </li>
    <li class="media">
      <h4>什么是真名士？ - 马前卒的回答 (赞同数 113)</h4>
      <p>首先想到刚刚逝世的布鞋院士 **李小文** 。旧衣布履赤脚，百万奖金捐光，敢作敢言，仙风道骨。平生只有两个事情放不下：科研、 **每天一斤二锅头** 。原定1月16日...</p>
    </li>

  </ul>

</div>
<div id="download-button" class="center-block">
  <button class="btn btn-warning">Downlaod MD</button>
  <button class="btn btn-warning">Downlaod ePub</button>
</div>

</div>







</div>
</div>




</body>
</html>

<!-- <div class="row">
  <div class="header pull-right">
    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-info-sign"></span> info
    </button>
    <a>
      <span class="glyphicon glyphicon-cog"></span> config
    </a>

  </div>
</div> -->